<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>

      <mat-card-content class="width-100">
        <p style = "text-align: center">
          This is a joint project developed by a St. Mary's University Computer Science Student developed for the local Vietnamese Martyrs Church in
          San Antonio, Texas.  The purpose of this project is to develop an efficient registration system to eliminate the need for the use of pen and paper
          during registration times.  Although there were many complications within the development of the project, this is a front-end version running with a
          simulated backend to show functionality.  In the future, this will be connected to a database to store information regarding registrants.
        </p>
      </mat-card-content>

  </mat-card>
</div>
