<!-- Toolbar -->
<mat-toolbar color = "primary">
  <mat-toolbar-row>
    <h1>Giao Xu Cac Thanh Tu Dao Viet Nam</h1>
    <span class = "menu-spacer"></span>
    <div>
      <a mat-button href="http://www.vietsa.org/WebsiteV2/home-v2.html" target="_blank"> Home </a>
      <a mat-button [routerLink]="'login'"> Login </a>
      <a mat-button [routerLink]="'register'"> Registration </a>
      <a mat-button [routerLink]="'contact'"> Contact </a>
      <a mat-button [routerLink]="'about'"> About </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
